@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --orange:#ca6a4c;
  --blue:#2a83b1;
  --green:#215e56;
  --card-background:#1f1f1f;
  --paragraph-color:#F9F9F9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #181818;
  font-family: 'opens-sans', 'arial';
  scroll-behavior: smooth;
}
/* header */

.logo-container {
  position: fixed;
  z-index: 999;
  transition: 0.5s;
}

.logo-container-fixed {
  background: var(--card-background);
}

.sectionContainer {
  display: flex;
  align-items: center;
  height: calc(100vh - 148px);
  max-height: 700px;
}

.about-lineHeight {
  line-height: 80px;
  color: #F9F9F9;
}

/*About*/

.aboutContainer {
  background-color: var(--card-background);
  margin: 0px 8%;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 1px 3px 0px rgba(33,94,86,0.69);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(42,131,177,0.69);
  -moz-box-shadow: 0px 1px 3px 0px rgba(42,131,177,0.69);
  transition: 0.6s;
}

.aboutContainer:hover {
  background-color: var(--card-background);
  margin: 0px 8%;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 1px 5px 0px rgba(33,94,86,0.69);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(42,131,177,0.69);
  -moz-box-shadow: 0px 1px 5px 0px rgba(42,131,177,0.69);
}

/*Services*/

.serviceContainerCard {
  gap:20px;
}

.card {
  min-width: 280px;
  max-width: 320px;
  height: 100%;
  min-height: 440px;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  border: 1.5px solid rgba(42,131,177,0.33);
  background-color: var(--card-background);
  transition: 0.5s;
}

.card:hover {
  border: 1.5px solid rgba(42,131,177,0.7);
  box-shadow: 0px 1px 12px 0px rgba(42,131,177,0.69);
  -webkit-box-shadow: 0px 1px 12px 0px rgba(42,131,177,0.69);
  -moz-box-shadow: 0px 1px 12px 0px rgba(42,131,177,0.69);
}

/* tecnologic section */



/* contact section*/

.contactContainer {
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(33,94,86,0.69);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(42,131,177,0.69);
  -moz-box-shadow: 0px 1px 3px 0px rgba(42,131,177,0.69);
  transition: 0.6s;
}

.contact-btn {
  padding: 16px;
  border:1.5px solid #FFF;
  border-radius: 4px;
  color: #FFF;
  margin: 10px 10px 30px 10px;
  transition: 0.2s;
}

.contact-btn:hover {
  border-radius: 4px;
  filter: brightness(0.5);
}

/* Social Media */

.social-media {
  cursor: pointer;
  transition: 0.2s;
}

.social-media:hover {
  filter: brightness(0.5);
}

/* General */

.line {
  border-bottom: 1px solid var(--blue);
  width: 80px;
}

.line-primary-rotate {
  border-bottom: 1px solid var(--orange);
  width: 280px;
}

.line-centered {
  margin: 30px auto;
}

.svg-primary {
  fill:var(--orange) !important;
}

.text-general {
  color: #a8a8b3;
}

.paragraph-color {
  color:var(--paragraph-color)
}

.card-small {
  background-color: var(--card-background);
  border: 1.5px solid #29292e;
  width: 100%;
  max-width: 230px;
  height: 90px;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.card-hr {
  padding-right: 10px;
  border-right: 1.5px solid #29292e ;
}

/* Animations */

.typing {
  animation: typingAnimation 6s infinite ease-in-out;
}

@keyframes typingAnimation {
 25% {
  color: var(--orange);
 }
 50% {
  color: var(--blue);
 }
 75% {
  color: var(--green);
 }
 90% {
  filter: brightness(0.8);
 }
 95% {
  filter: brightness(0.9);
 }
 100% {
  filter: brightness(1);
 }
}

.box{
	margin: 20px auto;

}

.box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{

	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}


@media (max-width: 600px) {
  .about-lineHeight {
    line-height: 40px;
  }
}


